<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Логотип сайта</a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item {{ app.request.get('_route') == 'route.index.index' ? 'active' : '' }}">
                <a class="nav-link" href="{{ url('route.index.index') }}">Главная <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item {{ app.request.get('_route') == 'route.contact.index' ? 'active' : '' }}">
                <a class="nav-link" href="{{ url('route.contact.index') }}">Контакты</a>
            </li>
        </ul>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="padding-right: 70px;">
            <ul class="navbar-nav ml-auto">

                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="dropdown01"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                        >
                            Привет, {{ app.user.username }}!
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item {{ app.request.get('_route') == 'route.account.index' ? 'active' : '' }}"
                               href="{{ url('route.account.index') }}">
                                <span class="fa fa-user"></span>
                                &nbsp;&nbsp;Мой аккаунт
                            </a>
                            <a class="dropdown-item {{ app.request.get('_route') == 'route.cabinet.product.list' ? 'active' : '' }}"
                               href="{{ url('route.cabinet.product.list') }}">
                                <span class="fa fa-list"></span>
                                &nbsp;&nbsp;Список товаров
                            </a>
                            <a class="dropdown-item {{ app.request.get('_route') == 'route.cabinet.transaction.list' ? 'active' : '' }}"
                               href="{{ url('route.cabinet.transaction.list') }}">
                                <span class="fa fa-list-alt"></span>
                                &nbsp;&nbsp;Список транзакций
                            </a>
                            <a class="dropdown-item {{ app.request.get('_route') == 'fos_user_security_logout' ? 'active' : '' }}"
                               href="{{ path('fos_user_security_logout') }}">
                                <span class="fa fa-door-open"></span>
                                &nbsp;&nbsp;Выйти
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {{ app.request.get('_route') == 'fos_user_security_login' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}"> Войти </a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'fos_user_registration_register' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}"> Создать аккаунт </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {#</form>#}
    </div>
</nav>
