{% extends 'base.html.twig' %}

{% block title %} Добавить новый товар {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 title_header">
            <h3> Добавить новый товар </h3>

            {% for label, messages in app.flashes(['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'dark', 'light']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-md-12">
            {{ form_start(form, {
                'method': 'POST',
                'action': url('route.cabinet.product.add')
            }) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                {# Название товара #}
                <div class="form-group">
                    {% if form.name.vars.errors|length > 0 %}
                        {% set inputNameClass = 'form-control is-invalid' %}
                    {% else %}
                        {% set inputNameClass = 'form-control' %}
                    {% endif %}

                    <span class="{{ form.name.vars.errors|length > 0 ? 'text-danger' : '' }}">
                        {{ form_label(form.name, 'Название товара') }}
                    </span>

                    {{ form_widget(form.name, {
                        'attr': {
                            'class': inputNameClass
                        }
                    }) }}

                    {% if form.name.vars.errors|length > 0 %}
                        <ul>
                            {% for error in form.name.vars.errors %}
                                <p class="form-text text-danger"><small>{{ error.message }}</small></p>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <small class="form-text text-muted">{{ form_help(form.name) }}</small>
                    {% endif %}
                </div>

                {# Цена #}
                <div class="form-group">
                    {% if form.price.vars.errors|length > 0 %}
                        {% set inputClassName = 'form-control is-invalid' %}
                    {% else %}
                        {% set inputClassName = 'form-control' %}
                    {% endif %}

                    <span class="{{ form.price.vars.errors|length > 0 ? 'text-danger' : '' }}">
                        {{ form_label(form.price, 'Цена') }}
                    </span>

                    {{ form_widget(form.price, {
                        'type': 'number',
                        'attr': {
                            'class': inputClassName
                        }
                    }) }}

                    {% if form.price.vars.errors|length > 0 %}
                        <ul>
                            {% for error in form.price.vars.errors %}
                                <p class="form-text text-danger"><small>{{ error.message }}</small></p>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <small class="form-text text-muted">{{ form_help(form.price) }}</small>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Добавить</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}