{% extends 'base.html.twig' %}

{% block title %} | Добавить новый товар {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12 title_header">
            <h3> Добавить новый товар </h3>

            {% include 'includes/flash_messages.html.twig' %}
        </div>

        <div class="col-md-12">
            {{ form_start(form, {
                'method': 'POST',
                'action': url('route.cabinet.product.add')
            }) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                {###################}
                {# Название товара #}
            {###################}
                <div class="form-group">
                    {% if form.name.vars.errors|length > 0 %}
                        {% set inputClass = 'form-control is-invalid' %}
                    {% else %}
                        {% set inputClass = 'form-control' %}
                    {% endif %}

                    <span class="{{ form.name.vars.errors|length > 0 ? 'text-danger' : '' }}">
                        {{ form_label(form.name, 'Название товара') }}
                    </span>

                    {{ form_widget(form.name, {
                        'attr': {
                            'class': inputClass
                        }
                    }) }}

                    {% if form.name.vars.errors|length > 0 %}
                        <ul>
                            {% for error in form.name.vars.errors %}
                                <p class="form-text text-danger"><small>{{ error.message }}</small></p>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <small class="form-text text-muted">{{ form_help(form.name) }}</small>
                    {% endif %}
                </div>

            {###################}
            {# Описание товара #}
            {###################}
            <div class="form-group">
                {% if form.description.vars.errors|length > 0 %}
                    {% set inputClass = 'form-control is-invalid' %}
                {% else %}
                    {% set inputClass = 'form-control' %}
                {% endif %}

                <span class="{{ form.description.vars.errors|length > 0 ? 'text-danger' : '' }}">
                        {{ form_label(form.description, 'Описание товара') }}
                    </span>

                {{ form_widget(form.description, {
                    'attr': {
                        'class': inputClass
                    }
                }) }}

                {% if form.description.vars.errors|length > 0 %}
                    <ul>
                        {% for error in form.description.vars.errors %}
                            <p class="form-text text-danger"><small>{{ error.message }}</small></p>
                        {% endfor %}
                    </ul>
                {% else %}
                    <small class="form-text text-muted">{{ form_help(form.description) }}</small>
                {% endif %}
            </div>

            {#################}
            {# Цена в рублях #}
            {#################}
            <div class="form-group">
                {% if form.price.vars.errors|length > 0 %}
                    {% set inputClass = 'form-control is-invalid' %}
                {% else %}
                    {% set inputClass = 'form-control' %}
                {% endif %}

                <span class="{{ form.price.vars.errors|length > 0 ? 'text-danger' : '' }}">
                        {{ form_label(form.price, 'Цена в рублях') }}
                    </span>

                    {{ form_widget(form.price, {
                        'type': 'number',
                        'attr': {
                            'class': inputClass
                        }
                    }) }}

                    {% if form.price.vars.errors|length > 0 %}
                        <ul>
                            {% for error in form.price.vars.errors %}
                                <p class="form-text text-danger"><small>{{ error.message }}</small></p>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <small class="form-text text-muted">{{ form_help(form.price) }}</small>
                    {% endif %}
            </div>

            <button type="submit" class="btn btn-outline-dark">Добавить</button>
            <br>
            <small class="text-muted">Код конопки можно будет посмотреть при редактировании товара</small>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
