{% extends 'base.html.twig' %}


{% block title %} Список товаров {% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12 title_header">
            <h3> Список товаров </h3>
            {% include 'includes/flash_messages.html.twig' %}
        </div>
    </div>

    <div class="row">
        <a href="{{ url('route.cabinet.product.add') }}" class="btn btn-outline-dark mb-3">Добавить новый товар</a>
    </div>

    {# Table #}
    <div class="row">
        {% if productTotal == 0 %}
            <h4>Список товаров пока пуст. Вы можете <a href="{{ url('route.cabinet.product.add') }}">добавить товары</a>.
            </h4>
        {% else %}
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Название товара</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                {% for product in productList %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="bg-dark text-white">
                <tr>
                    <td colspan="2">Всего - {{ productTotal }}</td>
                </tr>
                </tfoot>
            </table>

            {# Pagination #}
            {% if ((productTotal / elementOnPage)|round(0, 'ceil') > 1) %}
                <div id="pagination-product-list"
                     class="d-flex justify-content-center w-100"
                     data-product-total="{{ productTotal }}"
                     data-element-on-page="{{ elementOnPage }}"
                     data-page="{{ page }}"
                ></div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {% if ((productTotal / elementOnPage)|round(0, 'ceil') > 1) %}
        <script src="{{ asset('js/jquery.bootpag.min.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/pages/cabinet/product/list.js') }}"></script>
{% endblock %}
