<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Symfony Starter {% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fa.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-social.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>


<div class="container-fluid">

    {% include 'includes/header.html.twig' %}

    <main role="main" style="margin-top: 30px">

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>

    {% include 'includes/footer.html.twig' %}

</div>


<script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/sweetalert.min.js') }}"></script>

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>
